@page
@model Resturants.Views.Menu.IndexModel

@{
    ViewData["Title"] = "Menu";
}


<h2>Menu</h2>

@foreach (var category in Model.Categories)
{
    <h4>Category: @category.Name</h4>

    <ul>
        @foreach (var meal in category.Meals)
        {
            <li>
                @meal.Name @if (meal.Note != null)
                {<span>. @meal.Note.Description</span>}
            </li>
        }
    </ul>
}

